.toy-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2em;
    padding: 0;
    margin: 0;
    width: 100%;
}

.toy-list li {
    display: flex;
}

.toy-list article {
    flex: 1;
}